fastapi
uvicorn
sentence-transformers
pypdf
python-dotenv
google-generativeai
pandas
tabulate
openpyxl
pillow
numpy
httpx
google-auth-oauthlib
google-api-python-client
pymupdf
pydantic
qdrant-client
neo4j
openai
python-multipart
